@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* navbar header */
.navbar .nav-link {
    position: relative;
}
.navbar .nav-link::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: grey;
    transition: 0.3s ease-in-out;
}
.navbar .nav-link.active::after,
.navbar .nav-link:hover::after{
    width: 100%;
}
.navbar ul.navbar-nav li.nav-item{
    margin-left: 10px;
}
/* =============================
==========footer============= */

.footer {
    color: white;
    padding: 25px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #434343,
            #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* .footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
} */
/* =================================
======== page not found css ======= */
.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title {
    font-size: 100px;
    font-weight: 700;
}

.pnf-heading {
    font-weight: normal;
}

.pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 4px 21px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.pnf-btn:hover {
    background-color: black;
    color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* register page csss */

.register-login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    flex-direction: column;
    padding: 5% 0;
}
/* register form css */
.register-login-form{
    /* text-align: center; */
    width: 25%;
}
@media screen and (max-width: 600px) {
    .register-login-form {
        width: unset;
    }
}
/* form error */
.form-error{
    color: #ff0000;
}
.space{
    height: 20px;
}
/* homepage css */
.clear-all{
    color: #ff3f6c;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}
.category-list-home{
    list-style-type: none;
    padding: 0;
}
.category-data label{
    cursor: pointer;
}
.products-home .category-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}
.category-name {
    position: relative;
    margin-left: 20px;
}
.category-name::before {
    content: "";
    width: 23px;
    height: 2px;
    background-color: #ff3f6c;
    position: absolute;
    top: 46%;
    left: -29px;
}
.category-name::after {
    content: "";
    width: 23px;
    height: 2px;
    background-color: #ff3f6c;
    position: absolute;
    top: 46%;
    left: -29px;
}
.category-parent-div{
    cursor: pointer;
}
.category-parent-div:hover .category-name::before {
    left: 0px;
    top: 0%;
    width: 50px;
    transition: 0.5s ease-in-out;
}
.category-parent-div:hover .category-name::after {
    left: 0px;
    top: 20px;
    width: 50px;
    transition: 0.5s ease-in-out;
}
.order-total{
    border: 1px solid grey;
    padding: 10px 9px 10px;
    max-height: 46px;
}
.font-size-13{
    font-size: 13px;
}