@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav-link {
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: grey;
    transition: 0.3s ease-in-out;
}
.nav-link.active::after,
.nav-link:hover::after{
    width: 100%;
}
ul.navbar-nav li.nav-item{
    margin-left: 10px;
}
/* =============================
==========footer============= */

.footer {
    color: white;
    padding: 25px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #434343,
            #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

/* .footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
} */
/* =================================
======== page not found css ======= */
.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title {
    font-size: 100px;
    font-weight: 700;
}

.pnf-heading {
    font-weight: normal;
}

.pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 4px 21px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.pnf-btn:hover {
    background-color: black;
    color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* register page csss */

.register-login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    flex-direction: column;
    padding: 5% 0;
}
/* register form css */
.register-login-form{
    /* text-align: center; */
    width: 25%;
}
@media screen and (max-width: 600px) {
    .register-login-form {
        width: unset;
    }
}
/* form error */
.form-error{
    color: #ff0000;
}